<!DOCTYPE HTML>
{% extends "layout.html" %}

{% set active_page = "file4" %}

{% block title %}file4{% endblock %}

{% block content %}

<html>
<head>
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Monkeypox Cases In Spain 2022"
	},
	axisY: {
		title: "total cases",
		titleFontSize: 24,
		includeZero: true
	},
	axisX: {
		title: "Day",
		titleFontSize: 24,
		includeZero: true
	},
	data: [{
		type: "column",
		yValueFormatString: "#,### Cases",
		dataPoints: {{data}}
	}]
});


	
	chart.render();
}


</script>
</head>

<meta charset="utf-8">
 

















<body>




	









<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html>

{% endblock %}